:root {
  --p1: #495E57;
  --p2: #F4CE14;
  --s1: #ee9972;
  --s2: #fbdabb;
  --h1: #edefee;
  --h2: #333;
}


/* Header and Nav */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--h1);
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 0;
  transition: 0.5s;
  list-style: none;
  margin: 0;
}

.nav li {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  padding: 3px 8px;
  white-space: nowrap;
}

.nav.active {
  width: 250px;
  padding-left: 30px;
}

@media screen and (min-width: 800px) {
  .menu {
    display: none;
  }

  .basket {
    display: none;
  }

  .close {
    display: none;
  }

  .logo {
    order: 1;
  }

  .nav {
    display: flex;
    position: relative;
    height: 40px;
    width: fit-content;
    background-color: white;
    padding-top: 0;
    align-items: center;
    order: 2;
    overflow-x: visible;
  }

  .nav li {
    margin-top: 0;
  }

  .nav li:hover {
    background-color: gray;
    transition: 0.3s;
  }
}



/* Container */

.container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto
}

.bg-container {
  width: 100%;
  background-color: var(--p1);
  color: var(--h1);
}


/* Footer */

.footer-nav {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  max-width: 100px;
}

@media screen and (min-width: 800px) {
  .footer-copyright {
    display: none;
  }
  
  .footer-nav {
    display: block;
    list-style: none;
    margin-top: 80px;
  }

  .footer {
    align-items: normal;
  }

  .footer-logo {
    max-width: 100%;
  }
}