:root {
  /* colors */
  --p1: #495E57;
  --p2: #F4CE14;
  --s1: #ee9972;
  --s2: #fbdabb;
  --h1: #edefee;
  --h2: #333;

  /* Fonts */
  --title: 500 5.3rem "Markazi Text";
  --sub-title: 400 3.3rem "Markazi Text";
  --lead-text: 500 1.5rem "Karla";
  --paragraph: 400 1.3rem "Karla";
  --section-title: 800 1.7rem "Karla";
  --card-title: 700 1.5rem "Karla";
}

body {
  font: var(--paragraph);
}


/* Header and Nav */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--h1);
  overflow-x: hidden;
  padding-top: 15px;
  padding-left: 0;
  transition: 0.5s;
  list-style: none;
  margin: 0;
}

.nav li {
  text-align: left;
  margin-left: 15px;
  margin-top: 25px;
  white-space: nowrap;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: var(--h2);
  border-radius: 16px;
  padding: 3px 8px;
}

.nav.active {
  width: 250px;
  padding-left: 30px;
}

.close {
  padding: 5px 10px;
  border-radius: 16px;
  font: var(--lead-text);
}

@media screen and (min-width: 860px) {
  .menu {
    display: none;
  }

  .basket {
    display: none;
  }

  .close {
    display: none;
  }

  .logo {
    order: 1;
  }

  .nav {
    display: flex;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: white;
    padding-top: 0;
    align-items: center;
    order: 2;
    overflow-x: visible;
  }

  .nav.active {
    width: 100%;
    padding-left: 0;
  }

  .nav li {
    margin-top: 0;
    font-weight: 500;
    border-radius: 16px;
    margin-left: 20px;
  }

  .nav-link:hover {
    background-color: gray;
    color: var(--h1);
    transition: 0.1s;
  }
}



/* Container */

.container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto
}

.bg-container {
  width: 100%;
  background-color: var(--p1);
  color: var(--h1);
}


/* Footer */

.footer-nav {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  max-width: 100px;
}

@media screen and (min-width: 860px) {
  .footer-copyright {
    display: none;
  }
  
  .footer-nav {
    display: block;
    list-style: none;
    margin-top: 80px;
  }

  .footer {
    align-items: normal;
  }

  .footer-logo {
    max-width: 100%;
  }
}


/* Hero */

.hero {
  padding: 15px 15px 25px 15px;
}

.desktop {
  display: none;
}


.hero-title {
  font: var(--title);
  color: var(--p2);
  margin: 15px 0 0 0;
  line-height: 0.5;
}

.hero-sub {
  font: var(--sub-title);
  margin: 0;
}

.hero-img {
  max-width: 147px;
  max-height: 152px;
  border-radius: 16px;
  margin-left: 20px;
}

.hero-info {
  display: flex;
}

.hero-button {
  font: var(--paragraph);
  font-weight: bold;
  border: none;
  background-color: var(--p2);
  border-radius: 1rem;
  padding: 10px 15px;

}

.hero-button:hover {
  background-color: var(--h2);
  color: var(--h1);
  transition: .1s;
}

@media screen and (min-width: 860px) {
  .hero.desktop {
    display: block;
    padding: 15px;
  }

  .hero {
    display: none;
  }

  .hero-info {
    align-items: center;
  }

  .hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  .hero-button {
    margin-top: 65px;
    padding: 20px 30px;
  }
  
}