:root {
  /* colors */
  --p1: #495e57;
  --p2: #f4ce14;
  --s1: #ee9972;
  --s2: #fbdabb;
  --h1: #edefee;
  --h2: #333;

  /* Fonts */
  --title: 500 4rem "Markazi Text";
  --sub-title: 400 2.5rem "Markazi Text";
  --lead-text: 500 1.125rem "Karla";
  --paragraph: 400 1rem "Karla";
  --section-title: 800 1.25rem "Karla";
  --card-title: 700 1.5rem "Markazi Text";
}

body {
  font: var(--paragraph);
}

/* Header and Nav */

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--h1);
  overflow-x: hidden;
  padding-top: 15px;
  padding-left: 0;
  transition: 0.5s;
  list-style: none;
  margin: 0;
  font-size: 1.25;
}

.nav li {
  text-align: left;
  margin-left: 15px;
  margin-top: 25px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.25rem;
}

.nav-link {
  text-decoration: none;
  color: var(--h2);
  border-radius: 16px;
  padding: 3px 8px;
}

.nav.active {
  width: 250px;
  padding-left: 30px;
}

.close {
  padding: 5px 10px;
  border-radius: 16px;
  font: var(--lead-text);
}

@media screen and (min-width: 860px) {
  .menu {
    display: none;
  }

  .basket {
    display: none;
  }

  .close {
    display: none;
  }

  .logo {
    order: 1;
  }

  .flex-container {
    order: 2;
  }

  .nav {
    display: flex;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: white;
    padding-top: 0;
    align-items: center;
    overflow-x: visible;
  }

  .nav.active {
    width: 100%;
    padding-left: 0;
  }

  .nav li {
    margin-top: 0;
    font-weight: 500;
    border-radius: 16px;
    margin-left: 20px;
  }

  .nav-link:hover {
    background-color: var(--h1);
    transition: 0.1s;
  }
}

/* Container */

.container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.bg-container {
  width: 100%;
  background-color: var(--p1);
  color: var(--h1);
}

/* Footer */

.footer-nav {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.footer-logo {
  max-width: 100px;
}

@media screen and (min-width: 860px) {
  .footer-copyright {
    display: none;
  }

  .footer-nav {
    display: block;
    list-style: none;
    margin-top: 80px;
  }

  .footer {
    align-items: normal;
  }

  .footer-logo {
    max-width: 100%;
  }
}

/* Hero */

.hero {
  padding: 15px 15px 25px 15px;
}

.desktop {
  display: none;
}

.hero-title {
  font: var(--title);
  color: var(--p2);
  margin: 15px 0 0 0;
  line-height: 0.5;
}

.hero-sub {
  font: var(--sub-title);
  margin: 0;
}

.hero-img {
  max-width: 147px;
  max-height: 152px;
  border-radius: 16px;
  margin-left: 20px;
}

.hero-info {
  display: flex;
}

.hero-lead {
  font: var(--lead-text);
}

.hero-button {
  font: var(--paragraph);
  font-weight: bold;
  border: none;
  background-color: var(--p2);
  border-radius: 1rem;
  padding: 10px 15px;
}

.hero-button:hover {
  background-color: var(--h1);
  transition: 0.1s;
}

@media screen and (min-width: 860px) {
  .hero.desktop {
    display: block;
    padding: 15px;
  }

  .hero {
    display: none;
  }

  .hero-info {
    align-items: center;
  }

  .hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  .hero-button {
    margin-top: 65px;
    padding: 20px 30px;
  }
}

/* Card */

.card-desktop {
  display: none;
}

.card {
  display: block;
  padding: 0 15px;
}

.card-img {
  max-width: 100px;
  object-fit: cover;
}

.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--p1);
}

.card-price {
  color: var(--p1);
  font-weight: 500;
}

.card-break {
  border-top: 2px solid #33333362;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 860px) {
  .card {
    display: none;
  }

  .card-desktop {
    display: block;
    background-color: var(--h1);
    max-width: 265px;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 0 50px;
  }

  .card-content {
    padding: 0 20px 10px;
  }

  .card-price {
    color: var(--s1);
  }

  .card-img {
    max-width: 265px;
  }

  .card-description {
    color: var(--p1);
    margin: 0 0 30px 0;
  }

  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-dish {
    font: var(--card-title);
  }

  .card-order {
    font-weight: 600;
  }
}

/* Specials */

.specials {
  padding: 15px 15px 0 15px;
}

.specials-title {
  font: var(--section-title);
}

.specials-desktop {
  display: none;
}

@media screen and (min-width: 860px) {
  .specials {
    display: none;
  }

  .specials-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--section-title);
    padding: 40px 0 20px;
  }

  .specials-button {
    padding: 20px 30px;
    font: var(--paragraph);
    font-weight: bold;
    border: none;
    background-color: var(--p2);
    border-radius: 16px;
  }

  .specials-button:hover {
    background-color: var(--h1);
    transition: 0.1s;
  }

  .specials-cards {
    display: flex;
    justify-content: space-between;
  }
}

/* Customers Say */

.cs {
  padding: 30px 15px 15px 15px;
}

.cs-title {
  font-size: 2rem;
  text-align: center;
}

.cs-card {
  background-color: var(--h1);
  color: var(--h2);
  padding: 3px;
  margin: 15px 0;
  max-width: 200px;
  height: 200px;
  border-radius: 16px;
}

.cs-card-rating {
  margin-left: 9px;
  font-weight: 700;
}

.cs-card-icon {
  font-size: 47px;
}

.cs-card-flex {
  display: flex;
}

.cs-card-name {
  font-weight: 700;
  margin-left: 9px;
}

.cs-card-review {
  margin-left: 9px;
}

.cs-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 860px) {
  .cs-cards {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}


/* Chicago */

.chicago {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.chicago-title {
  font: var(--title);
  margin-bottom: 0;
  line-height: 0.5;
}

.chicago-sub {
  margin-top: 0;
  font: var(--sub-title);
  color: var(--h2);
}

.chicago-img {
  display: none;
}

.chicago-content {
  margin-bottom: 40px;
}

@media screen and (min-width: 860px) {
  .chicago-img {
    display: block;
  }

  .chicago-text {
    padding-right: 30px;
  }
}

/* Booking Form */

label {
  display: block;
  margin-left: 10px;
  font: var(--section-title);
}

.form {
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.form input, select {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  border-radius: 16px;
  padding: 15px;
  font: var(--paragraph);
  box-sizing: border-box;
  border: 2px solid #a0a0a0;
}

.form-submit {
  width: 100%;
  display: block;
  font: var(--paragraph);
  color: black;
  font-weight: bold;
  border: none;
  background-color: var(--p2);
  border-radius: 1rem;
  padding: 15px 15px;
}

.form-submit:hover {
  background-color: var(--h1);
  transition: 0.1s;
}

@media screen and (min-width: 860px) {
  .form-submit {
    width: fit-content;
    padding: 20px 30px;
  }

  .wrap {
    display: flex;
    justify-content: center;

  }
}

/* BookingPage */

.bp {
  padding: 70px 15px;
  display: flex;
  align-items: center;
}

.bp-title {
  font: var(--title);
  color: var(--p2);
  margin: 0;
  line-height: 0.5;
}

.bp-sub {
  font: var(--sub-title);
  margin: 0;
}

.bp-img {
  display: none;
}

@media screen and (min-width: 860px) {
  .bp {
    padding: 15px;
  }

  .bp-img {
    display: block;
    margin-left: 50px;
    border-radius: 16px;
  }
}

/* Missing */

.missing {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0 15px;
}

.missing-heading {
  font: var(--title);
  margin: 0;
  line-height: 1;
}

.missing-sub {
  font: var(--sub-title);
  margin: 0 0 30px 0;
}

/* Booking Confirmed */

.cb {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0 15px;
}

.cb-title {
  font: var(--title);
  margin: 0;
  line-height: 1;
}